.wrapper{
  background-image: url('./asserts/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.wrapper h1{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: absolute; /* Positioning the element */
  top: 100px; /* Distance from the top */
  left: 120px;
  font-size: 70px;
}

.wrapper .button{
  background-color: #9d511b; /* Blue background */
  color: white; /* White text */
  padding: 20px 40px; /* Vertical and horizontal padding */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 30px; /* Font size */
  position: absolute; /* Position the button absolutely */
  top: 300px; /* Distance from the top */
  left: 300px;


}
